footer{
    background-color: white;
    margin: 10px;
    width: 97vw;
    margin-left: auto;
    margin-right: auto;
}
footer section article{
    text-align: center;
    padding:  20px 50px 

}
.icon-footer{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.copyright{ 
    text-align: center  ;
    font-size: 13px;}