* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--tipografiaGeneral);
}

body {
    background-color: #ebebeb;
}

.cuerpo_de_texto {
    font-size: 12px
}

img {
    width: 100%;
}


@media (min-width: 361px) {
    .header__nav{
        display:block;
        
    }
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    .descripcion_producto{
        display: block;
    }
}
@media (min-width: 769px) {
    .logo{
        width: 25%;
    }
    .header__nav{
        display: block; 
       
    }
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 25%;
    }

    .descripcion_producto{
        display: block;
    }
    .main__section--productos{
        display: flex;
        flex-direction: row;
    }
    .titular{
        text-align: center;
    }
}
