.header{
    background-color: var(--colorAmarillo);
    padding-bottom: 10px;
}

.header__nav{
    display:none
}
.logo{
    padding: 0 35px;
    margin: 35px auto 10px auto;
}
.slogan{
    text-align: center;
    margin: 10px;}
.slogan i {
    margin-left: -5px;
} 
.header__searchbar{
   display: flex;
   justify-content: center;
   width: 100%;

    
}
.searchbar input{

  width: auto;
  
}
.lupa{
    background-color: #ebebeb;
    width: 30px;
    font-size: 14px;
    padding: 5px;
    border: black solid 2px;
    border-radius: 5px;
    height: 25px;

}
nav ul li a{
    color:black;
    text-decoration: none;
}
nav ul li{list-style: none}
.header__nav--loginbar{
    margin-top: 25px;
    padding: 0;
}
.header____nav--navbar{padding: 0;}
.burger-menu{
    color:white;
    background-color: #1259c3;
    border-radius: 10px;
    font-size: 25px;
    width: 40px;
    padding: 5px;
    margin: 10px auto 0 auto;
    text-align: center;

}
