
.main__section--productos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.banner{
    width: 100vw;

}
.producto{
    background-color: white;
   margin-bottom: 10px;
   
}
.imagen-producto{
    padding: 10px;
}
.producto div{
    padding: 10px;
    border-top: solid 1px #ebebeb;
  
}
.titular {
    font-size: 24px;
    color: var(--colorGrisOscuro);
    margin: 10px auto 10px 15px
}
.carrito{
    border: solid 2px var(--colorVerde);
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    color: var(--colorVerde);
    margin-top: 5px;
}
.precio {
    font-size: 18px
}

.descuento{
    font-size: 16px;
    color:  var(--colorVerde);
   
}
.descripcion_producto{
    color:var(--colorGrisOscuro);
    font-size: 16px;
    display:none
}
